/* You can add global styles to this file, and also import other style files */

.jumbotron {
  margin-top: 3.4rem;
  margin-bottom: 0rem;

  h1{
      font-size:3.8rem;
      margin-bottom: 1.8rem;
  }

  p {
      font-size: 1.4rem;
  }
}

