<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
  </div>
</div>

<section class="getting-started">
  <div class="container">
<h2 id="installation">Installation</h2>
<p>Install above dependencies via <em>npm</em>. In particular for <code>ScrollReveal JS</code>, run:</p>
<pre><code class="lang-shell">npm install --save scrollreveal
</code></pre>
<blockquote>
<p><strong>Note</strong>: If you are using <code>angular-cli</code> to build your app, make sure that <code>scrollreveal</code> is properly listed as a <a href="https://github.com/angular/angular-cli#global-library-installation">global library</a>, by editing your <code>angular-cli.json</code> as such:</p>
<pre><code>      &quot;scripts&quot;: [
        &quot;../node_modules/scrollreveal/dist/scrollreveal.js&quot;
      ],
</code></pre></blockquote>
<p>Now install <code>ng2-scrollreveal</code> via:</p>
<pre><code class="lang-shell">npm install --save ng2-scrollreveal
</code></pre>
<p>Once installed you need to import the main module:</p>
<pre><code class="lang-js">import {{ '{' }}NgsRevealModule} from &#39;ng2-scrollreveal&#39;;
</code></pre>
<p>The only remaining part is to list the imported module in your application module. The exact method will be slightly
different for the root (top-level) module for which you should end up with the code similar to (notice <code>NgsRevealModule.forRoot()</code>):</p>
<pre><code class="lang-js">import {{ '{' }}NgsRevealModule} from &#39;ng2-scrollreveal&#39;;

@NgModule({{ '{' }}
  declarations: [AppComponent, ...],
  imports: [NgsRevealModule.forRoot(), ...],  
  bootstrap: [AppComponent]
})
export class AppModule {{ '{' }}
}
</code></pre>
<p>Other modules in your application can simply import <code>NgsRevealModule</code>:</p>
<pre><code class="lang-js">import {{ '{' }}NgsRevealModule} from &#39;ng2-scrollreveal&#39;;

@NgModule({{ '{' }}
  declarations: [OtherComponent, ...],
  imports: [NgsRevealModule, ...], 
})
export class OtherModule {{ '{' }}
}
</code></pre>
<h2 id="usage">Usage</h2>
<p>The library is composed of two main directives: <code>ngsReveal</code> and <code>ngsRevealSet</code>.</p>
<h3 id="ngsreveal-directive">ngsReveal Directive</h3>
<p>Use this directive to reveal/hide a <strong>single DOM element</strong> upon scroll.</p>
<h4 id="basic-usage-">Basic Usage:</h4>
<pre><code class="lang-html">    &lt;div class=&quot;item&quot; ngsReveal&gt;..&lt;/div&gt;
</code></pre>
<h4 id="with-custom-options-">With Custom Options:</h4>
<p>You can also pass in a custom configuration object to the directive.</p>
<pre><code class="lang-html">    &lt;div class=&quot;item&quot; [ngsReveal]=&quot;{{ '{' }} reset: true}&quot; &gt;..&lt;/div&gt;
</code></pre>
<p>This will override the default configuration used when revealing this particular element.
When no configuration is passed in, the directive uses the default configuration defined at component or at application level.</p>
<p>Configuration options are the same as ScrollReveal JS <a href="https://github.com/jlmakes/scrollreveal#2-configuration">configuration object</a>. </p>
<h3 id="ngsrevealset-directive">ngsRevealSet Directive</h3>
<p>Use this directive to reveal/hide a <strong>set of DOM elements</strong> upon scroll.</p>
<p><code>[ngsSelector]</code> attribute is required, and defines which child items must be revealed/hidden on scroll.</p>
<blockquote>
<p><strong>Note:</strong> The value is a list of CSS selectors (comma-separated).</p>
</blockquote>
<h4 id="basic-usage-">Basic Usage:</h4>
<pre><code class="lang-html">    &lt;div class=&quot;itemset&quot; ngsRevealSet [ngsSelector]=&quot;&#39;.item&#39;&quot;&gt;
        &lt;div class=&quot;item item1&quot;&gt;Item 1 &lt;/div&gt;
        &lt;div class=&quot;item item2&quot;&gt;Item 2 &lt;/div&gt;
        &lt;div class=&quot;item item3&quot;&gt;Item 3 &lt;/div&gt;
        &lt;div class=&quot;item item4&quot;&gt;Item 4 &lt;/div&gt;
        &lt;div class=&quot;item5&quot;&gt;Item 5 (will not be animated)&lt;/div&gt;
    &lt;/div&gt;
</code></pre>
<h4 id="with-custom-options-">With Custom Options:</h4>
<pre><code class="lang-html">    &lt;div class=&quot;itemset&quot; [ngsRevealSet]=&quot;{{ '{' }} reset:true}&quot; [ngsSelector]=&quot;&#39;.item&#39;&quot;&gt;
        &lt;div class=&quot;item item1&quot;&gt;Item 1 &lt;/div&gt;
        &lt;div class=&quot;item item2&quot;&gt;Item 2 &lt;/div&gt;
        &lt;div class=&quot;item item3&quot;&gt;Item 3 &lt;/div&gt;
        &lt;div class=&quot;item item4&quot;&gt;Item 4 &lt;/div&gt;
        &lt;div class=&quot;item5&quot;&gt;Item 5 (will not be animated)&lt;/div&gt;
    &lt;/div&gt;
</code></pre>
<p>Configuration options are the same as ScrollReveal JS <a href="https://github.com/jlmakes/scrollreveal#2-configuration">configuration object</a>. </p>
<h4 id="sequentially-animated-items-">Sequentially animated items:</h4>
<p>Child items inside the parent set can be sequentially animated, by adding the <code>[ngsRevealInterval]</code> attribute.</p>
<blockquote>
<p><strong>Note:</strong> The interval is the time until the next element in the sequence begins its reveal, which is separate from the time until the element’s animation completes. In this example, the sequence interval is 50 milliseconds.</p>
</blockquote>
<pre><code class="lang-html">    &lt;div class=&quot;itemset&quot; [ngsRevealSet]=&quot;{{ '{' }} reset:true}&quot; [ngsInterval]=&quot;50&quot; [ngsSelector]=&quot;&#39;.item&#39;&quot;&gt;
        &lt;div class=&quot;item item1&quot;&gt;Item 1 &lt;/div&gt;
        &lt;div class=&quot;item item2&quot;&gt;Item 2 &lt;/div&gt;
        &lt;div class=&quot;item item3&quot;&gt;Item 3 &lt;/div&gt;
        &lt;div class=&quot;item item4&quot;&gt;Item 4 &lt;/div&gt;
        &lt;div class=&quot;item5&quot;&gt;Item 5 will not be animated)&lt;/div&gt;
    &lt;/div&gt;
</code></pre>
<h2 id="credits">Credits</h2>
<p><code>ng2-scrollreveal</code> is built upon <a href="https://scrollrevealjs.org">ScrollReveal JS</a> by <strong>Julian Lloyd</strong>. Thanks to him for the great work!</p>

  </div>
</section>