<header class="navbar navbar-light navbar-fixed-top">
	<div class="container">
		<nav>
			<a class="navbar-brand" [routerLink]="['/']">ng2-scrollreveal</a>
			<ul class="nav navbar-nav">
				<li class="nav-item" [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="['/getting-started']">Getting Started</a>
				</li>
			</ul>
			<p class="github-buttons float-lg-right">
				<a class="github-button" href="https://github.com/tinesoft/ng2-scrollreveal" target="_blank" data-style="mega" data-count-href="/tinesoft/stargazers"
					data-count-api="/repos/tinesoft/ng2-scrollreveal#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star tinesoft/ng2-scrollreveal on GitHub">Star</a>
				<a href="https://twitter.com/intent/tweet?button_hashtag=ng2-scrollreveal" class="twitter-hashtag-button" data-size="large"
					data-text="I&#39;m checking out ng2-scrollreveal, Angular 2 directives for ScrollReveal JS" data-url="https://tinesoft.github.io/ng2-scrollreveal"
					data-show-count="true">Tweet #ng2-scrollreveal</a>
			</p>
		</nav>
	</div>
</header>